@charset "UTF-8";
$leftTopColor: #1C2732;
$leftBodyColor: #222F3C;
$leftFontFamily: "Open Sans", sans-serif;
$leftFontSize: 13px;
$leftLineHeight: 20px;
$leftFirstFontColor: #607188;
$leftFontColor: #ffffff;
$leftFontWeight: 400;
$navbarBlue:#28BEBD; 
$bodyBlue:#EEF5F9;   

