<!-- ---------------------------------------------------------------------------------------------------- -->
    <!-- Footer in all pages-->
    <footer class="footer-content mt-0 float-left pl-5 ml-0 ">


            <!-- Footer Links -->
            <div class=" text-center text-md-left  pl-5 mt-1">
    
                <!-- Footer row -->
                <div class="row mt-1">
    
                    <!-- Footer first column -->
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 mx-auto pt-5 pl-0">
    
                        <!-- Content -->
                        <h6 class="text-uppercase footerContentHeader pl-0">Want to Work with Us?</h6>
                        <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                        <p class="workWithUSText pt-2 pl-0">Paleo flexitarian bushwick letterpress, ea migas yr
                            adipisicing.
                            Man
                            bun tacos tumblr kombucha,
                            yuccie banjo affogato dolore gentrify retro chartreuse. Anim austin tempor ethical, sapiente
                            food truck fanny pack farm-to-table. Culpa keytar esse tilde hoodie, art party nostrud
                            messenger
                            bag authentic helvetica kinfolk cred eu affogato forage.</p>
    
                    </div>
                    <!-- Footer  column -->
    
                    <!-- Footer second column -->
                    <div class="col-xs-12 col-sm-2 col-lg-2 col-md-6 mx-auto">
    
                        <!-- Links -->
                        <h6 class=" pt-5 footerContentHeader">Company</h6>
                        <!-- <hr class="text-secondary mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                        <p> <a class="companyItems" href="#!">About Us</a> </p>
                        <p> <a class="companyItems" href="#!">Careers</a> </p>
                        <p> <a class="companyItems" href="#!">Privacy Ploicy</a> </p>
                        <p> <a class="companyItems" href="#!">Contact Us</a> </p>
    
                    </div>
                    <!-- Footer column -->
    
                    <!-- Footer  third column -->
                    <div class="col-xs-12 col-sm-4 col-lg-4 col-md-6 mx-auto mb-4 pt-5">
                        <div class="row">
                            <h6 class="text-uppercase footerContentHeader">Email Newsletters</h6>
                        </div>
                        <div class="row">
                            <p class="workWithUSText">Sign up for new MaterialWrap content, updates, and offers.</p>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <input type="email" class="form-control" id="footerEmail" placeholder="Enter your email address...">
    
                            </div>
                            <div class="col-4">
                                <button class="btn  rounded-circle ml-4 emailButton mt-2" id="bapp"><i class="fas fa-location-arrow"></i></button>
    
                            </div>
    
                        </div>
     
    
    
                    </div>
                    <!-- Footer column -->
    
    
                </div>
                <!-- Grid row -->
    
            </div>
            <!-- Footer Links -->
    
            <!-- footer border -->
            <div class="row container-fluid pt-3 pb-3">
                <div class="col-12 footerBorder"></div>
            </div>
    
            <!-- Copyright -->
            <div class="row footer-copyright ml-5 pb-2">© Copyright 2019 MaterialWrap - All Rights Reserved: </div>
            <!-- Copyright -->
    
            <!-- Footer -->
        </footer>
    <!-- ---------------------------------------------------------------------------------------------------- -->